*{
    margin: 0;
    padding: o;
    font-family: 'popins' sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #080808;
    color: #fff;
}
#header{
    width: 100px;
    height: 100px;
    background-image: url(naid.jpg) ;
    background-size: cover;
    background-position: center;
}